body, .butterpop-message, h1.title,#loading-area .load-text .text-load {
	font-family: "Nunito", serif !important;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.form-control:focus {
	border-color: #77488a !important;
}
.btn-primary {
	background-color: #77488a !important;
	border: 1px solid #77488a;
	color: #000 !important;
}
.btn-primary:hover {
	background-color: #77488a !important;
	border: 1px solid #77488a !important;
	color: #000 !important;
}
.sales-cards .card h6,.sidebar .sidebar-menu > ul > li.submenu-open ul > li.active a span,.sidebar .sidebar-menu > ul li.active svg {
	color: #77488a !important;
}
.sidebar .sidebar-logo #toggle_btn,.swiper-pagination.style-1 .swiper-pagination-bullet-active {
	background: #77488a !important;
}
.page-wraper,.bg-primary {
	background-color: #77488a !important;
}
.mandadory {
    color: #FF0000;
}
.btn.btn-primary {
	background-color: #77488a !important;
    border: 1px solid #77488a !important;
    color: #FFFFFF !important;
}
.btn.btn-primary:hover {
	background-color: #77488a !important;
    border: 1px solid #77488a !important;
}
.dataTables_paginate .pagination li.active a.page-link {
	background: #77488a;
    border-color: #77488a;
}
.country-flag {
	border-radius: 100%;
    width: 50%;
}
label[id$="-error"] {
	display: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #77488a;
}
a {
	color: #77488a;
}
.form-check-input:checked {
	background-color: #77488a;
    border-color: #77488a;
}